@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* styles/globals.css */
:root {
  --main-color: #8FFF00; /* Lime green for brand accent */
  --text-color: #333; /* Dark grey for text */
  --background-color: #fff; /* White for clean background */
  --link-color: #0000EE; /* Default blue for links */
  --link-hover-color: #8FFF00; /* Lime green for hover state */
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; /* Ensures that html and body take full height */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  position: relative;
  font-family: 'Montserrat', sans-serif; /* Set Montserrat as the default font */
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}
