/* Additional styles for the logo */
.logo {
  max-width: 200px; /* Adjust the value to the size you want */
  height: 120px; /* This ensures that the aspect ratio is maintained */
}


.header {
  text-align: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;

}


.title {
  font-size: 2.1rem;
  margin-bottom: 0.0rem;
  color: var(--text-color);
  text-align: center; /* Centers the text */
}


.description {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-align: center; /* Centers the text */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* Grid layout for responsiveness */
  gap: 2rem;
  width: 100%;
  /* Full width */
  padding: 0 20px;
  /* Horizontal padding */
}

.card {
  margin: 1rem;
  padding: 2rem;
  text-align: left;
  color: #000; /* Set text color to black */
  text-decoration: none;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for text color and transform properties */
  background-color: #fff; /* Keep background color white (or any other color as needed) */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
}

.card:hover,
.card:focus,
.card:active {
  color: var(--main-color);
  border-color: var(--main-color);
  transform: translateY(-5px);
  /* Lift effect on hover */
}

.footer {
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  /* Smaller font size for footer */
  color: var(--text-color);
}