/* General layout and main content styles */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Start alignment to avoid overlapping with the footer */
  padding: 8px;
  padding-bottom: 5rem; /* Extra padding at the bottom to prevent overlap with the footer */
}

.title {
  font-size: 1.7rem;
  margin-top: 0.6rem;
  margin-bottom: 0rem; /* Increased margin for visual separation from the description */
  color: var(--text-color);
  text-align: center;
}

.description {
  margin-bottom: 0.1rem; /* Consistent margin for spacing */
  font-size: 1.1rem;
  text-align: center;
  padding: 0 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
  padding: 0 20px; /* Responsive horizontal padding */
}

/* Card styles */
.card {
  margin: 1rem;
  padding: 2rem;
  text-align: left;
  color: #000;
  text-decoration: none;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover,
.card:focus,
.card:active {
  color: #000;
  border-color: #000;
  transform: translateY(0px);
  /* Show the SVG when the card is hovered, focused, or active */
  .svgContainer {
    display: block;
  }
}

/* Container for the SVG */
.svgContainer {
  display: none; /* Hide SVG by default */
  position: absolute; /* Position it over the card content if needed */
  top: 50%; /* Center it vertically */
  left: 50%; /* Center it horizontally */
  transform: translate(-50%, -50%);
  width: 60%; /* Relative size */
  height: auto;
}

.svgContainer img {
  width: 100%;
  height: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .card {
    padding: 1.5rem; /* Smaller padding on mobile */
  }

  .card:last-child {
    padding-bottom: 2rem; /* Extra padding to the last card to avoid footer overlap */
  }

  .subscribeButton {
    padding: 0.8rem 1.6rem; /* Adjust padding */
    width: auto; /* Auto width for full control within .card */
    margin-bottom: 1rem; /* Extra margin at the bottom */
  }
}
