/* Subscribe.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: #f4f4f4; /* Soft gray background */
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-align: center;
}

.description {
  max-width: 640px; /* Slightly wider to handle more text */
  text-align: center;
  margin-bottom: 2rem;
  color: #555; /* Darker gray for better readability */
  font-size: 1.4rem;
  line-height: 1.8;
}

.subscriptionOptions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center; /* This ensures that the cards are centered */
  margin-bottom: 2rem;
}

.card {
  width: 100%;
  max-width: 300px; /* Adjust max-width as necessary */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15); /* Enhanced hover effect */
}
.price {
  font-size: 2.5rem; /* Larger size for emphasis */
  color: #10b981; /* Vibrant green */
  font-weight: bold;
  margin-bottom: 0.5rem; /* Added bottom margin for spacing */
}

.planImage {
  height: 140px; /* Reduced from 50px for a smaller image */
  width: auto; /* Maintain aspect ratio */
  margin-right: 1rem; /* Keep some spacing between the image and text */
  vertical-align: middle; /* Align vertically with the text */
}


.features {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  color: #666; /* Uniform color for text */
}

.feature {
  margin-bottom: 0.5rem;
}

.subscribeButton {
  background-color: #00fd0d; /* Vibrant green */
  color: rgb(10, 2, 2); /* Almost black */
  border: none;
  padding: 0.5rem 1.5rem; /* Smaller padding for a more compact button */
  font-size: 1rem; /* Smaller font size */
  border-radius: 10px; /* Consistent rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions for visual feedback */
}



.subscribeButton:hover {
  background-color: #21f912;
  transform: scale(1.1); /* Slightly larger scale for effect */
}

/* Responsive Design */
@media (max-width: 768px) {
  .subscriptionOptions {
    flex-direction: column;
    align-items: center; /* Center align the cards for mobile */
  }

  .card {
    width: 80%; /* Full width cards on mobile for better accessibility */
  }
}
