.subscribeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0.6rem;
  padding-bottom: 5rem;
  background-color: #f4f4f4;
}

.title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.1rem;
  /* Reduced space below the title */
  font-weight: 470;
  letter-spacing: 1px;
  text-align: center;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -1rem;
  width: 100%;
  max-width: 300px;
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.planImage {
  height: 117px;
  margin-bottom: -11px;
}

.price {
  font-size: 1.2rem;
  color: #040806;
  font-weight: 600;
  margin-bottom: 0rem;
  text-align: center;
}

.smallText {
  font-size: 0.8rem; /* Adjust this value to make the text smaller */
}

.description {
  font-size: 1rem;
  color: #373737;
  line-height: 1.4;
  text-align: center;
  padding: 0 1rem;
}

.subscribeButton {
  background-color: #8FFF00;
  color: #020202;
  border: none;
  padding: 0.4rem 1.6rem;
  font-size: 1.1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 50%;
  max-width: 208px;
  margin-top: 0em;
  /* Reduced space above the button */
  align-self: center;
}

.subscribeButton:hover {
  background-color: #8FFF00;
  transform: scale(1.04);
  /* Slightly reduced transform scale for subtler effect */
}

@media (min-width: 769px) {
  .plan {
    max-width: 340px;
    /* Apply max-width for larger screens for better readability */
  }

  .subscribeButton {
    width: 50%;
    /* Adjust button width to be more proportional on larger screens */
  }

  .title {
    font-size: 2.5rem;
    /* Larger font size for desktop */
    margin-top: 2rem;
    /* More space on top for desktop */
  }

  .price {
    font-size: 1.5rem;
    /* Larger font size for desktop */
  }

  .description {
    font-size: 1.2rem;
    /* Increase font size for desktop */
  }
}
