.subscribeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  justify-content: flex-start;
  padding: 1rem 0; 
  background-color: #f4f4f4; 
}


.subscribeContainer .title {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 0.90rem;
  margin-top: 0.1rem;
  font-weight: 800;
  letter-spacing: 0.4px;
  text-align: center;
}


.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  width: 100%;
  max-width: 300px;
  padding: 1.7rem;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 1.1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plan:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.planImage {
  height: 150px;
  margin-bottom: 0.1rem;
}


.price {
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* Small Text Styles */
.smallText {
  font-size: 0.8rem;
  color: #666;
}

.description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 0.1rem;
}

.subscribeButton {
  background-color: #8FFF00;
  color: #1c1a1a;
  border: none;
  padding: 0.6rem 1.8rem;
  font-size: 1.1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 60%;
  max-width: 240px;
  margin-top: 1rem;
}

.subscribeButton:hover {
  background-color: #7ee000;
  transform: scale(1.05);
}

@media (min-width: 769px) {

  .plan {
    max-width: 340px;
  }


  .title {
    font-size: 2rem; 
    margin-top: 2rem;
  }


  .price {
    font-size: 1.8rem;
  }


  .description {
    font-size: 1.3rem;
  }

  /* Subscribe Button Styles for Larger Screens */
  .subscribeButton {
    width: 43%;
  }
}

@media (max-width: 768px) {
  .subscribeContainer {
    background-color: #f4f4f4; 
    padding-bottom: 2; 
  }

  /* Increase the space for the second container */
  .subscribeContainer .plan:nth-of-type(2) {
    margin-bottom: 2rem; /* Add margin to increase space */
  }

 
  .subscribeButton {
    width: 51%; /* Reduce width for mobile */
  }
}
